{% load static %}

<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Taskapp</title>
	<link rel="stylesheet" type="text/css" href="{% static 'taskapp/css/bootstrap.min.css'%}"/>
	<script type="text/javascript" src="{% static 'taskapp/js/plotly-latest.min.js' %}"></script>
</head>
<body>
	<nav class="navbar navbar-light bg-light">
	  <span class="navbar-brand mb-0 h1">Taskapp</span>
	  <a href="logout">Logout</a>
	</nav>
	<div class="container-fluid">
		<div class="row">
			{% for userSetup in userSetups %}
			<div class="col-md-12">
				<div class="card">
					<h1 class="card-title">{{userSetup.company.name}}</h1>
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-4">
								<div class="card">
									<div class="card-header">Score</div>
									<div class="card-body">
										<h2 class="card-title">Your Score</h2>
										<p class="card-text">Your score is: <b>{{userSetup.score | floatformat:-2}}</b></p>
										<h2 class="card-title">User ranks</h2>
										<ul class="list-group list-group-flush">
											{% for userSetup in userSetup.users %}
											<li class="list-group-item">
												{{ forloop.counter }}. <span class="badge badge-success">{{userSetup.score | floatformat:-2}}</span>
												<a href="user-setup-details/{{userSetup.id}}">{{userSetup.user.username}}</a>
											</li>
											{% endfor %}
											
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card">
									<div class="card-header">Tasks</div>
									<div class="card-body">
										<h2 class="card-title">For you</h2>
										<ul class="list-group list-group-flush">
											{% for task in userSetup.companyTasks %}
											<li class="list-group-item">
												{% if task.regular != None %}(R){% endif %}
												{{task.title}}
												<span class="badge badge-success" title="Bonus score">{{task.score | floatformat:-2}}</span>
												{% if task.penalty != None %}
												<span class="badge badge-danger" title="Penalty score">{{task.penalty | floatformat:-2}}</span>
												{% endif %}
												{% if task.deadline != None %}
												<span class="badge badge-warning" title="Deadline">{{task.deadline|date:"Y-m-d H:i"}}</span> 
												{% endif %}
												
												<a href="complete/{{task.id}}">(complete)</a>
												<a href="edit-task/{{task.id}}">(edit)</a>
											</li>
											{% endfor %}
										</ul>
										<h2 class="card-title">General tasks</h2> <a href="new-task/{{userSetup.company.id}}">(add)</a>
										<ul class="list-group list-group-flush">
											{% for task in userSetup.freeTasks %}
											<li class="list-group-item">
												{% if task.regular != None %}(R){% endif %}
												{{task.title}}
												<span class="badge badge-success" title="Bonus score">{{task.score | floatformat:-2}}</span>
												<a href="complete/{{task.id}}">(complete)</a>
												<a href="edit-task/{{task.id}}">(edit)</a>
											</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card">
									<div class="card-header">History</div>
									<div class="card-body">
										<ul class="list-group list-group-flush">
											{% for item in userSetup.history_vals %}
											<li class="list-group-item">
												<span class="badge badge-warning">{{item.created|date:"Y-m-d H:i"}}</span>
												<span class="badge badge-success">{{item.score | floatformat:-2}}</span>
												{{item.message}}
												
											</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="card">
									<div class="card-header">Plot</div>
									<div class="card-body">
										<div id="history-plot{{userSetup.company.id}}"/>
											
									</div>
									<script type="text/javascript">
										(function() {
											var data = [
												{% for userSetup in userSetup.all_user_history %}
													{
													name: "{{userSetup.user.username}}",
													y: [
														{% for item in userSetup.history_vals %}
															
															{{item.score | floatformat:-2}},
															
														{% endfor %}
														],
													x: [
														{% for item in userSetup.history_vals %}
															'{{item.created|date:"Y-m-d H:i"}}',
														{% endfor %}
														],
													text: [
														{% for item in userSetup.history_vals %}
															'{{item.message}}',
														{% endfor %}
													],
													type: 'scatter'},
												{% endfor %}
											];
											Plotly.newPlot('history-plot{{userSetup.company.id}}', data);
										})();
									</script>
								</div>
							</div>
						</div> <!-- row -->
					</div> <!-- container -->
				</div> <!-- company card -->
			</div> <!-- col-md-12 -->
			{% endfor %}
		</div>
	</div>
</body>
</html>