{% load static %}

<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Test</title>
	<link rel="stylesheet" type="text/css" href="{% static 'taskapp/css/bootstrap.min.css'%}"/>
</head>
<body>
	<nav class="navbar navbar-light bg-light">
	  <span class="navbar-brand mb-0 h1">Taskapp</span>
	</nav>
	<div class="container-fluid">
		<div class="row">
			{% for userSetup in userSetups %}
			<div class="col-md-12">
				<div class="card">
					<h1 class="card-title">{{userSetup.company.name}}</h1>
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-4">
								<div class="card">
									<div class="card-header">Score</div>
									<div class="card-body">
										<h2 class="card-title">Your Score</h2>
										<p class="card-text">Your score is: <b>{{userSetup.score}}</b></p>
										<h2 class="card-title">User ranks</h2>
										<ul class="list-group list-group-flush">
											{% for userSetup in userSetup.users %}
											<li class="list-group-item">
												{{ forloop.counter }}. <span class="badge badge-success">{{userSetup.score}}</span> {{userSetup.user.username}}
											</li>
											{% endfor %}
											
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card">
									<div class="card-header">Tasks</div>
									<div class="card-body">
										<h2 class="card-title">For you</h2>
										<ul class="list-group list-group-flush">
											{% for task in userSetup.companyTasks %}
											<li class="list-group-item">
												{% if task.regular != None %}(R){% endif %}
												{{task.title}}
												<span class="badge badge-success" title="Bonus score">{{task.score}}</span>
												{% if task.penalty != None %}
												<span class="badge badge-danger" title="Penalty score">{{task.penalty}}</span>
												{% endif %}
												{% if task.deadline != None %}
												<span class="badge badge-warning" title="Deadline">{{task.deadline|date:"Y-m-d H:i"}}</span> 
												{% endif %}
												
												<a href="complete/{{task.id}}">(complete)</a>
												<a href="edit-task/{{task.id}}">(edit)</a>
											</li>
											{% endfor %}
										</ul>
																			<h2 class="card-title">General tasks</h2>
										<ul class="list-group list-group-flush">
											{% for task in userSetup.freeTasks %}
											<li class="list-group-item">
												{% if task.regular != None %}(R){% endif %}
												{{task.title}}
												<span class="badge badge-success" title="Bonus score">{{task.score}}</span>
												<a href="complete/{{task.id}}">(complete)</a>
												<a href="edit-task/{{task.id}}">(edit)</a>
											</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card">
									<div class="card-header">History</div>
									<div class="card-body">
										<ul class="list-group list-group-flush">
											{% for item in userSetup.history_vals %}
											<li class="list-group-item">
												<span class="badge badge-warning">{{item.created|date:"Y-m-d H:i"}}</span>
												<span class="badge badge-success">{{item.score}}</span>
												{{item.message}}
												
											</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
						</div> <!-- row -->
					</div> <!-- container -->
				</div> <!-- company card -->
			</div> <!-- col-md-12 -->
			{% endfor %}
		</div>
	</div>
</body>
</html>